html {
  background-color: #232323;
}

body {
  font-family: 'Noto Sans', Verdana, sans-serif;
  font-weight: 400;
}

strong,
b {
  font-weight: 600;
}


/* Mediaplayer
=========== */
.mediaplayer {
  position: relative;
  overflow: hidden;
}

.mediaplayer_media {
  margin: 0;
}

.mediaplayer_audio {
  display: none;
}

.mediaplayer_video {
  display: block;
}

.mediaplayer_sources {
  display: none;
}



/* Mediaplayer timeline */
.mediaplayer_timeline {
  position: relative;
  margin: 0;
  padding: 0;
  height: 10px; /* Default */
}

.mediaplayer_timeline_buffered,
.mediaplayer_timeline_played {
  position: absolute;
  height: 100%;
}



/* Mediaplayer controls */
.mediaplayer_ui {
  position: relative;
  margin: 0;
  font-size: 0;
}

.mediaplayer_control {
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  cursor: pointer;
}

.mediaplayer_control_label {
  line-height: 1;
}



/* Mediaplayer timetable */
.timetable {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  text-align: center;
}

.timetable_elapsed,
.timetable_divider,
.timetable_duration {
  vertical-align: middle;
  font-size: 1rem;
}